{% extends 'app/base.html' %}


{% block content %}
   
       
<section class="container forms">
       <div class="form login">
           <div class="form-content">
               <header>Login</header>
               <form method="POST">
                   {%csrf_token%}
                   <div class="field input-field">
                       <input type="text" placeholder="username" name="username">
                   </div>

                   <div class="field input-field">
                       <input type="password" placeholder="Password" class="password" name="password">
                       
                   </div>
                   <div class="field button-field">
                       <button type="submit" name="Login">Login</button>
                   </div>
               </form>

               <div class="form-link">
                   <span>Don't have an account? <a href="{% url 'signup' %}" class="link signup-link">Signup</a></span>
               </div>
           </div>

       </div>
</section>
  
{%endblock%}